{% extends "base.html" %}
{% block body %}
    <h1>Tic-Tac-Toe</h1>
    <p>Enter Player 1 and 2</p>
    <form method="POST">
        {% csrf_token %}
        <input name="player1" placeholder="Player 1"/>
        <input name="player2" placeholder="Player 2"/>
        <button type="submit">Start</button>
    </form>
    <br><br>
    <h3>Scores</h3>
    <div style="max-height: 300px; y-overflow:auto;">
      <table style="border: 1px solid black">
        <thead>
          <th style="border: 1px solid black; padding:5px">Player Name</th>
          <th style="border: 1px solid black; padding:5px">Score</th>
        </thead>
        <tbody>
          {% for player in players %}
            <tr>
              <td style="border: 1px solid black; padding:5px">{{ player.name }}</td>
              <td style="border: 1px solid black; padding:5px">{{ player.score }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
{% endblock %}
